<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 <nav class="main-navigation">
        <div class="navbar-header animated fadeInUp">
            <a class="navbar-brand" href=""></a>
        </div>
        <ul class="nav-list">
            <li class="nav-list-item">
                <a href="http://127.0.0.1:4200/home" class="nav-link" (click)="destroy()">Home</a>
            </li>
            <li class="nav-list-item">
                <a href="#" class="nav-link">About Us</a>
            </li>
            <li class="nav-list-item">
                <a href="#" class="nav-link">Blog</a>
            </li>
            <li class="nav-list-item">
                <a href="#" class="nav-link">Works</a>
            </li>
            <li class="nav-list-item">
                <a href="#" class="nav-link">Contact</a>
            </li>
        </ul>

    </nav>