
<body>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

<div class="sidenav">
         <div class="login-main-text">
            <h2>CNI<br>Connéxion</h2>
            <p>Authentifier d'ici pour continuer .</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-7">
            <div class="login-form">
               
               <form (ngSubmit)="checkLogin()" [formGroup]="userDetails">
                  <div class="form-group">
                     <i class="fa fa-user"></i>
                     <input  formControlName="Email" type="text" class="form-control" placeholder="E-mail" id="email" name="email" [(ngModel)]="email"
                     [class.is-invalid] = "userDetails.get('Email').invalid && userDetails.get('Email').touched" >
                     <div *ngIf="(Email.invalid && Email.touched) || Email.dirty">
                        <small *ngIf="Email.errors?.required" class="text-danger">Email est Obligatoire</small>
                      
                        <small *ngIf="Email.errors?.pattern" class="text-danger">Veuiller saisire une email Valide</small>
                      </div>
                  </div>
             
                  <div class="form-group">
                     <i class="fa fa-lock"></i>
                     <input  formControlName="password"  [type]="fieldTextType ? 'text' : 'password'" class="form-control" placeholder="Mot de pass" id="password" name="password" [(ngModel)]="password" 
                     [class.is-invalid] = "userDetails.get('password').invalid && userDetails.get('password').touched"  > 
                     Afficher/Masquer MPD : <i
                     class="fa"
                     [ngClass]="{
                       'fa-eye-slash': !fieldTextType,
                       'fa-eye': fieldTextType
                     }"
                     (click)="toggleFieldTextType()"
                   ></i>
                     <div *ngIf="(Password.invalid && Password.touched) || Password.dirty">
                        <small *ngIf="Password.errors?.required" class="text-danger">Le Mot De Pass est Obligatoire</small>
                          </div>                  
                  </div>
                  <button type="submit" class="btn btn-black">Connéxion</button>
               </form>
            </div>
         </div>
      </div>
   </body>